<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/aboutStylesheets">
</head>

<body>
    <header>
        <h1>Pizzeria Contemporeana</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/work">Work</a></li>
                <li><a href="/photo-gallery">Gallery</a></li>
            </ul>
        </nav>
    </header>
    <main>


        <div>
            <h3>Lorem ipsum dolor sit.</h3>
            <article>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam aut optio molestias magni ut
                voluptas debitis vel inventore praesentium accusantium ullam aliquid, possimus, error quae eum dolorem
                iure porro modi tenetur animi iusto beatae? Maiores esse hic architecto ut molestiae accusamus
                dignissimos placeat odio nam quibusdam earum eveniet, quod dolorum id sequi necessitatibus animi
                assumenda nulla quas. Sequi saepe aperiam voluptatem beatae incidunt eum asperiores quasi. Quos
                voluptatum id ipsa quae molestias aspernatur beatae corporis provident reiciendis reprehenderit quo, aut
                eius dolorem distinctio, eos tempora odio pariatur quam quod placeat eaque dolore! Velit quidem
                molestias explicabo delectus aut, cum eum.</article>
        </div>
        <div>
            <h3>Lorem ipsum dolor sit.</h3>
            <article>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam aut optio molestias magni ut
                voluptas debitis vel inventore praesentium accusantium ullam aliquid, possimus, error quae eum dolorem
                iure porro modi tenetur animi iusto beatae? Maiores esse hic architecto ut molestiae accusamus
                dignissimos placeat odio nam quibusdam earum eveniet, quod dolorum id sequi necessitatibus animi
                assumenda nulla quas. Sequi saepe aperiam voluptatem beatae incidunt eum asperiores quasi. Quos
                voluptatum id ipsa quae molestias aspernatur beatae corporis provident reiciendis reprehenderit quo, aut
                eius dolorem distinctio, eos tempora odio pariatur quam quod placeat eaque dolore! Velit quidem
                molestias explicabo delectus aut, cum eum.</article>
        </div>
        <div>
            <h3>Lorem ipsum dolor sit.</h3>
            <article>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam aut optio molestias magni ut
                voluptas debitis vel inventore praesentium accusantium ullam aliquid, possimus, error quae eum dolorem
                iure porro modi tenetur animi iusto beatae? Maiores esse hic architecto ut molestiae accusamus
                dignissimos placeat odio nam quibusdam earum eveniet, quod dolorum id sequi necessitatibus animi
                assumenda nulla quas. Sequi saepe aperiam voluptatem beatae incidunt eum asperiores quasi. Quos
                voluptatum id ipsa quae molestias aspernatur beatae corporis provident reiciendis reprehenderit quo, aut
                eius dolorem distinctio, eos tempora odio pariatur quam quod placeat eaque dolore! Velit quidem
                molestias explicabo delectus aut, cum eum.</article>
        </div>



    </main>
    <footer>
        <p>La meilleure pizza napolitaine du monde se mange à Paris ! Peppe Cutraro, ancien chef de Big Mamma ouvre sa
            deuxième pizzeria proche du quartier Latin, (Panthéon, Jardin du Luxembourg) ! Notre cuisine 100% maison
            vous fera directement voyager au cœur de Naples avec un choix d'antipasti et de pizzas contemporaines.</p>
        <p>Giuseppe Cutraro est spécialisé dans les pizzas contemporaines, des pizzas qui revisitent les recettes
            traditionnelles avec une bonne touche de modernité. Avant d'ouvrir sa pizzeria, Peppe a travaillé comme chef
            pour le groupe Big Mamma (Popolare, Pink Mamma, Ober Mamma, Mamma Primi...).

            Peppe, le restaurant qui sert la meilleure pizza d'Europe est très prisé. Il vaut mieux réserver pour être
            sûr de pouvoir y goûter .</p>
    </footer>
</body>

</html>