<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/gallerystylesheets">
    <title>photo-gallery</title>
</head>

<body>
    <header>
        <h1>Pizzeria Contemporeana</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/work">Work</a></li>
                <li><a href="/photo-gallery">Gallery</a></li>
            </ul>
        </nav>

    </header>
    <main>
        <h2>A la carte</h2>
        <div class="row">
            <h2>Nom</h2>
            <h2>Description</h2>
            <h2>Prix</h2>
        </div>
        <div class="row">

            <p>Margerita</p>
            <img src="/pizza3" alt="">
            <p>7.90euro</p>
        </div>
        <div class="row">
            <p>Vegge</p>
            <img src="/pizza4" alt="">
            <p>14.90euro</p>
        </div>
        <div class="row">
            <p>Tartuffo</p>
            <img src="/pizza1" alt="">
            <p>19.90euro</p>
        </div>
        <div class="row">
            <p>Championne du monde</p>
            <img src="/pizza" alt="">
            <p>19.90euro</p>
        </div>
        <div class="row">
            <p>Mortadelle</p>
            <img src="/pizza2" alt="">
            <p>17.90euro</p>
        </div>
        <div class="row">
            <p>classica</p>
            <img src="/pizza5" alt="">
            <p>3.90euro</p>
        </div>

    </main>
    <footer>


    </footer>
</body>

</html>