<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/homeStylesheets">
</head>

<body>
    <header>
        <h1>Pizzeria Contemporeana</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/work">Work</a></li>
                <li><a href="/photo-gallery">Gallery</a></li>
            </ul>
        </nav>
    </header>
    <h2>Voyagez en découvrant nos spécialité Napolitaine</h2>
    <h3>Pizzas cuites au Feu de bois</h3>


</body>

</html>