<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/workStylesheets">
    <title>Document</title>
</head>

<body>
    <header>
        <h1>Pizzeria Contemporeana</h1>
        <h2>Nos Restaurants</h2>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/work">Work</a></li>
                <li><a href="/photo-gallery">Gallery</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="card">
            <img src="/resto1" alt="">
            <h2>Casa di Peppe</h2>
            <p>Notre restaurant situé dans le 20e arrondissement de Paris</p>
        </div>

        <div class="card">
            <img src="/resto2" alt="">
            <h2>Chez Peppe</h2>
            <p>Notre restaurant situé dans le 8e arrondissement de Paris</p>
        </div>

        <div class="card">
            <img src="/resto3" alt="">
            <h2>Ristorante di Peppe</h2>
            <p>Notre restaurant situé dans le 1e arrondissement de Marseille</p>
        </div>
    </main>
    <footer>

    </footer>
</body>

</html>