header {
    display: flex;
    justify-content: space-between;

}

ul {
    display: flex;
}

li {
    list-style: none;
    border: solid 2px;
    border-radius: 5px;
    background-color: gray;
    margin-inline: 20px;
    padding: 5px;
    color: rgb(0, 0, 0);
}

/* ----------------------------------MAIN ------------------------------------------- */
main {
    display: flex;
    justify-content: space-evenly;
    text-align: justify;
}

div {
    padding: 40px;
}

footer {
    text-align: center;
}